* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-family: "Kreon", serif;
  }
  
  #root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  